body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #F3D9B1; 
    text-align: center;
}

.vertical-nav { 
    width: 200px; 
    background-color: #CC59D2; 
    float: left; 
    padding: 5px; 
}

.vertical-nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    width: 100%; 
}

.vertical-nav li a { 
    display: block; 
    color: #F3D9B1; 
    padding: 8px 16px; 
    text-decoration: none; 

.vertical-nav li a:hover { 
    background-color: #90C2E7;
    color: black; 
}

main {
    margin-left: 210px; 
    padding: 20px;
}

footer {
    background-color: #4DA167;
    text-align: center;
    padding: 10px;
    clear: both; 
}
