body {
    font-family: sans-serif; /* Example font */
    margin: 0;
    padding: 0;
}

header {
    background-color: #F3D9B1; /* Light gray background */
    padding: 10px;
    text-align: center;
}

.vertical-nav { /* Styling for the vertical navigation bar */
    width: 200px; /* Adjust width as needed */
    background-color: #CC59D2; /* Dark blue background */
    float: left; /* Places the navigation on the left */
    padding: 5px; /* Adds padding inside the navigation */
}

.vertical-nav ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    width: 100%; /* Takes full width of the navigation bar */
}

.vertical-nav li a { /* Styles links within list items */
    display: block; /* Makes the entire link area clickable */
    color: white; /* White text color */
    padding: 8px 16px; /* Adds padding to the links */
    text-decoration: none; /* Removes underline from links */
}

.vertical-nav li a:hover { 
    background-color: ##90C2E7;
    color: black; 
}

main {
    margin-left: 210px; 
    padding: 20px;
}

footer {
    background-color: #;
    text-align: center;
    padding: 10px;
    clear: both; 
}
